{% extends 'base.html' %}
<!DOCTYPE html>

{% block content %}
    <header class="bg-black text-white"
            style=" height:200px;position: relative;">
        <div class="container text-center">
            <h1>Willkommen</h1>
            <p class="lead">Bildergalerie</p>
        </div>
    </header>
    <br/>

    <div class="container gallery-container">
        <h1>Produkte</h1>
        <div class="tz-gallery">
            <div class="row">
                {% for object in object_list %}
                    {% if object.image %}
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox">
                                <img src="{{ object.image.url }}" alt="{{ object.title }}" data-toggle="modal"
                                     data-target="#image_modal_{{ forloop.counter }}"
                                     style="width:250px;height:250px;cursor:pointer;">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Modal -->
    {% for object in object_list %}
        <div id="image_modal_{{ forloop.counter }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <h3>{{ object.title }}</h3>
                        <p>{{ object.description }}</p>
                        {% if object.image %}
                            <img src="{{ object.image.url }}" style="width:550px;height: 550px"></div>
                        {% endif %}
                </div>
            </div>
        </div>
        </div>
    {% endfor %}
{% endblock %}
