{% extends 'base.html' %}
<!DOCTYPE html>

{% block content %}
    <header class="bg-black text-white"
            style=" height:200px;position: relative;">
        <div class="container text-center">
            <h1>Willkommen</h1>
            <p class="lead">Bildergalerie</p>
        </div>
    </header>
    <br/>

    <div class="container gallery-container">
        <h1>Produkte</h1>
        <div class="tz-gallery">
            <div class="row">
                {% for object in object_list %}
                    {% if object.image %}
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox">
                                <img src="{{ object.image.url }}" alt="{{ object.title }}" data-toggle="modal"
                                     data-target="#image_modal" id="img_{{ forloop.counter }}"
                                     style="width:250px;height:250px;cursor:pointer;">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="image_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <span class="glyphicon glyphicon-arrow-left" style="cursor:pointer;" id="left_arrow"></span>
                        <span class="glyphicon glyphicon-arrow-right pull-right" style="cursor:pointer;"
                              id="right_arrow"></span>
                    </div>
                    <h3 id="modal_title"></h3>
                    <p id="modal_description"></p>
                    <img src="" id="modal_img" style="width:550px;height: 550px"></div>
            </div>
        </div>
    </div>
    </div>
    <!-- Modal -->
    <script type="text/javascript">
        var images = {};
        {% for object in object_list %}
            images["img_{{ forloop.counter }}"] = {};
            var title = "{{ object.title }}";
            var description = "{{ object.description }}";
            var image_url = "{{ object.image.url }}";
            images["img_{{ forloop.counter }}"].title = title;
            images["img_{{ forloop.counter }}"].description = description;
            images["img_{{ forloop.counter }}"].image_url = image_url;
            images["img_{{ forloop.counter }}"].is_in_modal = false;
        {% endfor %}

        for (var k in images) {
            var image_html_element = document.getElementById(k);
            image_html_element.onclick = function (e) {
                image_data_to_modal_body(this);
            };
        }

        var right_arrow = document.getElementById("right_arrow");
        var left_arrow = document.getElementById("left_arrow");

        right_arrow.onclick = function (e) {
            var sibling = get_sibling_image_id(true);
        };

        left_arrow.onclick = function (e) {
            var sibling = get_sibling_image_id(false);
        };

        var image_data_to_modal_body = function (html_element) {
            document.getElementById("modal_img").src = images[html_element.id].image_url;
            document.getElementById("modal_title").innerHTML = images[html_element.id].title;
            document.getElementById("modal_description").innerHTML = images[html_element.id].description;
            mark_modal_image(html_element);
        };

        var mark_modal_image = function (clicked_element) {
            for (var k in images) {
                if (k == clicked_element.id) {
                    images[k].is_in_modal = true;
                } else {
                    images[k].is_in_modal = false;
                }
            }
        };

        var get_sibling_image_id = function (next) {
            var modal_image = null;
            for (var k in images) {
                var image = images[k];
                if (image.is_in_modal === true) {
                    modal_image = image;
                    break;
                }
            }
            if (next === true) {
                var greater_element = get_greater_element(k);
                image_data_to_modal_body(document.getElementById(greater_element));
                return greater_element;  // HIER VERSUCHEN DEN GRÖßEREN IM JSON ZU KRIEGEN!
            } else {
                var smaller_element = get_smaller_element(k);
                image_data_to_modal_body(document.getElementById(smaller_element));
                return smaller_element;// HIER VERSUCHEN DEN KLEINER IM JSON ZU KRIEGEN!
            }
        };

        var get_greater_element = function (current_img_id) {
            var current_id = get_number_from_image_id(current_img_id);
            var next_id = null;
            for (var k in images) {
                var iterating_id = get_number_from_image_id(k);
                if (iterating_id > current_id) {
                    next_id = iterating_id;
                    return k;
                }
            }
            return Object.keys(images)[0];
        };

        var get_smaller_element = function (current_img_id) {
            var current_id = get_number_from_image_id(current_img_id);
            var before_image_id = null;
            for (var k in images) {
                var iterating_id = get_number_from_image_id(k);
                if (iterating_id == current_id) {
                    if (!before_image_id) {
                        return Object.keys(images)[Object.keys(images).length - 1]
                    }
                    return before_image_id;
                }
                before_image_id = k;
            }
        };

        var get_number_from_image_id = function (image_id) {
            return image_id.match(/\d+/) - 1;
        };

    </script>
{% endblock %}
